<div id="footend">
<!-- footer Start -->
<footer class="footer section gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mr-auto col-sm-6">
                <div class="widget mb-5 mb-lg-0">
                    <div class="logo mb-4">
                        <img th:src="@{images/logo.png}" alt="" class="img-fluid">
                    </div>
                    <p>因为严谨 所以安心
                        以保障爱宠的健康为宗旨，重新定义每个小生命的尊严和价值</p>

                    <ul class="list-inline footer-socials mt-4">
                        <li class="list-inline-item">
                            <a href="https://www.facebook.com/themefisher"><i class="icofont-facebook"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://twitter.com/themefisher"><i class="icofont-twitter"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.pinterest.com/themefisher/"><i class="icofont-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-6">

            </div>

            <div class="col-lg-2 col-md-6 col-sm-6">


            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="widget widget-contact mb-5 mb-lg-0">
                    <h4 class="text-capitalize mb-3">联系我们！</h4>
                    <div class="divider mb-4"></div>

                    <div class="footer-contact-block mb-4">
                        <div class="icon d-flex align-items-center">
                            <i class="icofont-email mr-3"></i>
                            <span class="h6 mb-0">全年无休服务至上</span>
                        </div>
                        <h4 class="mt-2"><a href="mailto:support@email.com">PetHospital@qq.com</a></h4>
                    </div>

                    <div class="footer-contact-block">
                        <div class="icon d-flex align-items-center">
                            <i class="icofont-support mr-3"></i>
                            <span class="h6 mb-0">Mon to Sun : 08:30 - 18:00</span>
                        </div>
                        <h4 class="mt-2"><a href="tel:+23-345-67890">+23-456-6588</a></h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-btm py-4 mt-5">
            <div class="row align-items-center justify-content-between">

            </div>


        </div>
    </div>
</footer>


<!--
Essential Scripts
=====================================-->
<script th:src="@{/plugins/jquery/jquery.js}"></script>
<script th:src="@{/plugins/bootstrap/bootstrap.min.js}"></script>
<script th:src="@{/plugins/slick-carousel/slick/slick.min.js}"></script>
<script th:src="@{/plugins/shuffle/shuffle.min.js}"></script>

<!-- Google Map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkeLMlsiwzp6b3Gnaxd86lvakimwGA6UA"></script>
<script th:src="@{/plugins/google-map/gmap.js}"></script>

<script th:src="@{/js/script.js}"></script>

</div>
